.completed label{
    /* background-color:chartreuse; */
    text-decoration: line-through;
}




.updateForm {
    background-color: chocolate;
}

li {
    list-style: none
}

ul {
    padding: 0;
}
