.completed {
    background-color:chartreuse;
    text-decoration: line-through;
}

.pending {
    background-color: khaki;
}

.listItem, .updateForm {
    padding: 15px;
    margin-top: 10px;
}

.updateForm {
    background-color: chocolate;
}

li {
    list-style: none
}

ul {
    padding: 0;
}